.container{
    display: flex;
    padding: 10px;
    height: 300px;
    margin: 30px;
    background-color: lightgray;
}

.item{
    padding: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: lightblue;
}

.between{
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.left{
    justify-content:flex-start;
}

.right{
    justify-content: flex-end;
}

.top{
    align-items: flex-start;
}

.bottom{
    align-items: flex-end;
}

.vertical-center{
    align-items: center;
}

.container-layout{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    height: 750px;
    margin: 30px;
    gap: 40px;
    padding: 40px;
}

.container-first{
    display: flex;
    gap: 40px;
    width: 865px;
    height:100px;
    border: 1px solid black;
    padding: 40px;
}

.container-second{
    display: flex;
    align-items: center;
    width: 950px;
    height: 550px;
    gap: 40px;
}

.item-first{
    width: 200px;
    height: 100px;
    border: 1px solid black;
}
.item-second{
    width: 650px;
    height: 100px;
    border: 1px solid black;
}

.item-third{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    gap: 40px;
    padding: 40px;
    border: 1px solid black;
}

.item-fourth{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    gap: 40px;
    padding: 40px;
    border: 1px solid black;
}

.item-seventh{
    width: 200px;
    height: 385px;
    border: 1px solid black;
}

.item-eighth{
    width: 280px;
    height: 100px;
    border: 1px solid black;
}

.item-fifth{
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

.item-sixth{
    width: 200px;
    height: 450px;
    border: 1px solid black;
}

.grid-border{
    border: 1px solid black;
    width: 780px;
    height: 680px;
    margin: 20px;
    padding: 30px;
}

.grid-layout{
    display: grid;
    grid-template:
    "main main main main" 250px
    "sub sub sub E" 100px
    "C C C E" 100px
    "D G F E" 120px
    /120px 120px 120px 1fr;
    width: 780px;
    height: 680px;
    gap: 30px;
}

.itemA{
    grid-area: main;
    display:grid;
    grid-template:
    "leftbox rightbox rightbox" 70px
    "leftbox secondbox thirdbox" 70px
    /180px 1fr 150px;
    gap: 30px;
}

.leftbox{
    grid-area: leftbox;
}

.rightbox{
    grid-area: rightbox;
}

.secondbox{
    grid-area: secondbox;
}

.thirdbox{
    grid-area: thirdbox;
}

.itemB{
    grid-area: sub;
}

.itemC{
    grid-area: C;
}

.itemD{
    grid-area: D;
}

.itemE{
    grid-area: E;
}

.itemF{
    grid-area: F;
}

.itemG{
    grid-area: G;
    display:none;
}

.grid{
    border: 1px solid black;
    padding: 30px;
}